#events-list{
	padding-right: 5%;
	padding-top: 60px;
}

#event-search-page {
	background: white;
}


.list-wrapper {
	position: relative;
	top:10%;
	margin-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
	border-left: 1px solid rgba(0,0,0, .3);
}


/*-----------------  Event Item */
.list-item {
    display: block;
    width: 100%;
    margin-bottom: 5%;
    background-color: white;
	padding: 2% 5% 0% 5%;
}

.list-item-header {
	display:block;
    width: 100%;
	padding-left: 5%;
}

.list-item-title {
	font-size: 1.5em;
	color: gray;
}

.list-item-subtitle{
	color: gray;
	font-size: 1.2em;
}

.list-item-img-container{
	align-items: center;
	text-align: center;
	align-content: center;
	height: 200px;
	width: 100%;
	vertical-align: middle;
	align-items: center;
	background-clip: padding-box;
}

.list-item-img {
	display: inline-block;
	background: url("../imgs/event-list-placeholder.jpeg") 50% 50% no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
}


.list-item-info {
	position: relative;
	float: left;
	width: 100%;
	padding-left: 5%;
	margin: 0;
}


.list-item-btns{
	display: block;
	float: right;
	position: relative;
	padding-top: 40%;
}

.list-item-btns .btn {
	min-width: 125px;
	margin-bottom: 5%;
	font-size: 1em;
}

.list-item-btns .btn:hover, .list-item-btns .btn:focus{
	background: rgb(237, 230, 249);
	color: gray;
	border: none;
	outline: 0;
}

.list-item-footer{
	padding: 1%;
	text-align: center;
}

.list-item-footer a {
	position: relative;
	width: 100%;
}

.list-item-description {
	padding: 5%;
	text-align: left;
	background: rgba(0,0,0,.03);
}

/*----------------- Side Panel*/
.list-side-panel-container{
	padding:0px;
	display:table;
	margin-top: 3%;
	margin-right: 5%;
}

.list-side-panel{
	position: relative;
	height: 100%;
}

.list-side-panel-nav{
	margin-top: 5%;
}

.list-side-panel-nav .nav-item a{
	font-size: 1.5em;
	margin-bottom: 5%;
	text-align: right;
	color: rgba(0,0,0, .5);
}


#techtalk-btn:focus{
	color: rgba(0,0,0, .5);
	border-top: 10px solid #9b38bd;
}

#all-events-btn:focus{
	color: rgba(0,0,0, .5);
	border-top: 10px solid #df7575;
}

#workshops-btn:focus {
	color: rgba(0,0,0, .5);
	border-top: 10px solid #cfde00;
}

#clubs-btn:focus {
	color: rgba(0,0,0, .5);
	border-top: 10px solid #34c3b9;
}

#other-btn:focus{
	color: rgba(0,0,0, .5);
	border-top: 10px solid #E4F8D7;
}


.event-pagination{
	text-align: center;
	align-items: center;
	align-content: center;
	margin-top: 5%;
}


.list-side-panel-icon{
	padding-right: 5%;
	padding-left: 10%;
}