/*Event css modifications at the bottom*/

/* Move down content because we have a fixed navbar that is 50px tall */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}

#home {
  height: 100%;
  min-height: 800px;
  width: 100%;
}

nav.navbar {
  min-height: 50px;
}

.container-fluid {
  padding: 0px;
}
.container {
  width: 100%;
  height: 100%;
}

.navbar-wrapper.container {
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
}

a.btn.btn-info {
  height: 100%;
  padding: 10px;

}

input.form-control {
  height: 100%;
  padding: 10px;
  font-size: 15px;

}

#signup-avatar{
  height: 200px;
  width: 200px;
  position: relative;
  align-self: center;
  padding: 5%;
}

#signup-modal input{

}

/*******************************
   Google Map
*/
.map-div {
   height: 100%;
  width:  100%;
}
#map {
  height: 600px;
  width: 100%;
}


/*******************************
    login Modal
*/

.wrapper {
	margin-top: 80px;
	margin-bottom: 0;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


/*******************************
    dropdown dialogs
*/

/* General sizing */
ul.dropdown-lr {
  width: 100px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}

/*******************************
    modals
*/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 350px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  position: relative;
  padding: 15px 15px 80px;
  height: 80%;
}

/*Left*/
.modal.left.fade .modal-dialog{
  left: -350px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
       -o-transition: opacity 0.3s linear, left 0.3s ease-out;
          transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -350px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}

.modal-footer {
  padding: 2%;
  height: auto;
}

/*Event css settings*/
.event_img {
	height: 25%;
	width: 15%;
	margin-top: 5%;
	margin-left: 13%;
	border:2px solid #021a40;
}

.event_information {
	position: relative;
	height: 40%;
	color: white;
	background: #456aa5;
	border:4px solid #021a40;

}

.event_information ul {
	list-style-type: none;
	margin-left: 35%;
	color: white;
	background: #456aa5;
	font-size: 150%;
	width: 40%;
	height: 5%;
}

.event_information h1 {
	padding-top: 5%;
	margin-left: 37%;
	font-size: 300%;
	width: 40%;
	height: 10%;
}

.btn.rsvp{
	position: absolute;
	background: #555;
	top: 60%;
	left: 70%;
	width: 12%;
	height: 22%;
	font-size: 250%;
	box-shadow: 3px 3px 5px #999;
}

.btn.rsvp:hover{
	box-shadow: 5px 5px 5px #333;
	color: #184182;
	background: white;
}

.event_description{
	margin-left: 5%;
	margin-top: 2%;
}

.event_description h2{
	font-size: 275%;
}	

.event_description p {
	font-size: 150%;
	margin-right: 5%;
}

