/* Move down content because we have a fixed navbar that is 50px tall */
html, body {

  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  background: url("https://az616578.vo.msecnd.net/files/2017/01/19/636204307397093862-1842221556_aerials_mcircle_04302010_006_small.jpg") top center/100% 100% fixed no-repeat;
  background: url("../imgs/bgMain3.png") top center/100% 100% fixed no-repeat;

  height: 100%;
  width: 100%;
}

#home .section-body{
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 10%;
  padding-bottom: 0%;
  height: 100%;
}


#about{
  background: white;
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 5%;
}
.main-title {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 1);;
  padding-bottom: 5%;
  text-align: center;
}

.main-title h1 {
  font-size: 3.5em;
}
.event-block{
  margin-bottom: 2%;
  margin-right: 5%;
  color:  rgba(0, 0, 0, 0.5);
  text-align: center;
}

.events-grid .row{
  width: 100%;
  align-content:center;
}

.events-grid {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  align-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  background:rgba(255, 255, 255, .85);
  border-radius: 0;
  display: block;
}

.events-grid .card{
  margin-top: 10%;
  height: 150px;
  display: inline-block;
}

nav.navbar {
  min-height: 50px;
}

.container-fluid {
  padding: 0px;
}
.container {
  width: 100%;
  height: 100%;
}

.navbar-wrapper.container {
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
}

a.btn.btn-info {
  height: 100%;
  padding: 10px;

}

input.form-control {
  height: 100%;
  padding: 10px;
  font-size: 15px;

}

#signup-avatar{
  height: 150px;
  width: 150px;
  position: relative;
  align-self: center;
  padding: 5%;
}

#signup-modal input{

}

/*******************************
   Google Map
*/
.map-div {
   height: 100%;
  width:  100%;
}
#map {
  height: 600px;
  width: 100%;
}


/*******************************
    login Modal
*/

.wrapper {
	margin-top: 80px;
	margin-bottom: 0;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


/*******************************
    dropdown dialogs
*/

/* General sizing */
ul.dropdown-lr {
  width: 100px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}

/*******************************
    modals
*/


.modal.text-center {
  padding-bottom: 0px;
}
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 350px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  position: relative;
  padding: 15px 15px 80px;
  height: 80%;
}

/*Left*/
.modal.left.fade .modal-dialog{
  left: -350px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
       -o-transition: opacity 0.3s linear, left 0.3s ease-out;
          transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -350px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
  padding-bottom: 0px;
}

.modal-footer {
  padding: 2%;
  height: auto;
}

/*******************************
    footer
*/

footer {
   background: #101010;
   padding-bottom: 1%;
   color: #9d9d9d;
}
footer .row {
  height: 100%;

}

.event-block:hover{
  background: rgba(255,255,255,.9);
  color: black;
  cursor: pointer;
}

.about-img{
  background-image:  url("https://farm9.static.flickr.com/8059/8231788295_430d4a09eb_b.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 500px;
  border-right: 50px solid #34c3b9;
}

.form-control.search {

  min-width: 800px;
  display: inline-block;
}

.search-btn{
    display: inline-block;
}
.nav-search-field{
  align-content: center;
  align-items: center;
  display: inline-block;
  margin-left: 8%;
}