/* Move down content because we have a fixed navbar that is 50px tall */
html,
body {
  height: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: url("../imgs/bg.jpg") top center/100% 100% fixed no-repeat;
  overflow-y: auto;
  font-family: 'Raleway', sans-serif;
}
.section-body {
  margin-bottom: 50px;
}
input,
button {
    align-self: left;
}

.about-text {
  height: 400px;
  padding-left: 2%;
  padding-left: 2%;
  margin-right: 6%;
  color: gray;
}

.close {
  font-size: 3em;
}

#signup-modal .btn-success:hover, #file-label:hover {
    color: white;
    background-color: #763AE3;
    border: none;
    outline: none;
}

.btn-success{
  color: #013a36;
}
.form-group label {
    color: #000000;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

.form-control {
  border: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#login-submit:hover {
  background: #E4F8D7;

}
.no-outline {
  outline: none;
}

.navbar a {
  outline: none;
}


.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  text-align: center;
  vertical-align: middle;
}

#login-submit{
  color: #034c47;
  border: none;
  width: 125px;
}

.content {
  position: relative;
  min-height: 100%;
  height: 100%;
}

.page-wrapper {
  position:relative;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
}
.navbar-brand {
  line-height: 75px;
  padding-bottom: 0;
  padding-top: 0;
  height: 75px;
  border: none;
  font-size: 1.3em;
}

.navbar-brand>img{
  padding: 0;
  vertical-align: middle;
  padding-top: 12px;

}

#home .section-body{
  padding-left: 18%;
  padding-right: 18%;
  margin-top: 61px;
  padding-top: 5%;
  padding-bottom: 5%;
  height: 100%;
}

.card-block h2 {
 line-height: 97px;
 margin: 0;
}

.navbar-nav>li>a {
  height: 75px;
  align-items: center;
  vertical-align: middle;
  line-height:75px;
  padding: 0px 10px 0px 10px;
}

.navbar-inverse{
  padding: 0;
}

#about{
  background: white;
  margin-bottom: 15%;
  padding-top: 1%;
  padding-bottom: 5%;
}

.main-title {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 1);;
  padding-bottom: 5%;
  text-align: center;
}

.main-title h1 {
  font-size: 3.5em;
  color: rgb(93, 91, 91);
}

#about h1 {
  font-size: 3.5em;
  color:#9b38bd
}
.event-block{
  margin-bottom: 2%;
  margin-right: 5%;
  color:  rgba(0, 0, 0, 0.5);
  text-align: center;
  align-items: center;
}

.events-grid .row{
  width: 100%;
  align-content:center;
}

.events-grid {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  align-content: center;
  align-items: center;
  /*background: rgba(0, 0, 0, 0.8);*/
  background:rgba(255, 255, 255, .45);
  border-radius: 0;
  display: block;
}

.events-grid .card{
  padding: 10%;
  display: inline-block;
}

nav.navbar {
  min-height: 50px;
  background: #1b1b1c;
}

.container-fluid {
  padding: 0px;
}
.container {
  width: 100%;
  height: 100%;
}

.navbar-wrapper.container {
  padding-left: 10%;
  padding-right: 10%;
  height: 75px;
  font-size: 1.2em;
}

a.btn.btn-info {
  height: 100%;
  padding: 10px;

}


.modal input.form-control{
  font-size: 1.2em;
}


#signup-avatar{
  height: 150px;
  width: 150px;
  position: relative;
  align-self: center;
  margin-bottom: 6%;
}

.modal input{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  color: black;
}

.borderless {
  border: none;
}

/*******************************
    login Modal
*/

.wrapper {
	margin-top: 80px;
	margin-bottom: 0;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


/*******************************
    dropdown dialogs
*/

/* General sizing */
ul.dropdown-lr {
  width: 100px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}

/*******************************
    modals
*/


.modal.text-center {
  padding-bottom: 0px;
}
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 350px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
  font-family: 'Roboto', sans-serif;
}

.modal.left .modal-body,
.modal.right .modal-body {
  position: relative;
  padding: 15px 15px 80px;
  height: 80%;
}

/*Left*/
.modal.left.fade .modal-dialog{
  left: -350px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
       -o-transition: opacity 0.3s linear, left 0.3s ease-out;
          transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -350px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

.modal-title {
  color: darkslategray;
}

.modal-open .modal {
  background: rgba(0,0,0,.6);
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  padding-bottom: 0px;
  border: none;
}

.modal-footer {
  padding: 2%;
  height: auto;
}

/* ------ Create event modal style ------ */

.form-block {
  display: inline-block;
    width: 410px;
    height: 500px;
    margin: 10px;
    vertical-align: top;
}


.form-block input[type=text], textarea {
  resize: none;
  width: 100%;
}

.form-block * {
  margin: 5px;
}

#rightformblock {
   border-left: 2px solid;
}

.form-block img {
  max-width: 100%;
  height: auto;
}

.event-block:hover{
  background: rgba(0,0,0,.5);
  color: white;
  cursor: pointer;
}

.navbar-form {
  margin: 0px;
}
.about-img{
  background-image:  url("https://farm9.static.flickr.com/8059/8231788295_430d4a09eb_b.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 500px;
  border-right: 50px solid #34c3b9;
}

.form-control.search, #search_category{
  display: inline-block;
  border-radius : 5px;
  height: 40px;
  margin-right : -2%;
  font-size: 1em;
}



#search-category {
  max-width: 100px;
  color: gray;
  outline: none;
  border: none;
  background: pink;
}

#search_box{
  min-width: 350px;
}

.search-btn{
    display: inline-block;
    height: 40px;
    z-index: 500;

}

.search-btn:hover{
  background: #F2A112;
}
.nav-search-field{
  align-content: center;
  align-items: center;
  display: inline-block;
  margin-left: 0;
  height: 75px;
  line-height: 75px;

}

.card.my-auto{
  display: flex;
  align-items: center;
  text-align: center;
}



/*******************************
    footer
*/

#footer {
   background: #101010;
   color: #9d9d9d;
   height: 10px;

}

/*******************************
 * Colors
*/


.right-border {
	border-right: 20px solid;
}

.left-border {
  border-left: 1px solid rgba(0,0,0,.5);
}



.purple-bg {
	 background: #9b38bd;
}

.dark-green-bg {
	 background: #c2d54a;
}

.green-bg {
	background: #cfde00;
}

.teal-bg {
	 background:  #34c3b9;
}

.pink-bg{
	background: #df7575;
}

.orange-bg{
	background: #F2A112;
}


.gray-bg {
   background: rgb(237, 242, 249);
}

.light-green-bg {
	background: #E4F8D7;
}

.dark-purple-bg{
  background: #763AE3;
}

.dark-pink-bg {
	background: #d15cb5;
}

.dark-purple-border{
  border-color: #763AE3;
}


.orange-border{
	border-color: #F2A112;
}

.pink-border {
	border-color: #df7575;
}

.purple-border {
	border-color: #9b38bd;
}

.dark-green-border {
	border-color: #c2d54a;
}

.dark-pink-border {
	 border-color:  #d15cb5;
}

.green-border {
	border-color: #cfde00;
}



.teal-border {
	 border-color:  #34c3b9;
}

.light-green-border {
	border-color: #E4F8D7;
}

.gray-border {
   border-color: #aaaeb5;
}



.drop-right-shadow{
    box-shadow: 8px 8px 5px rgba(0,0,0,.081);
}
